<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team [TEAM NAME] Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div style="background-color:darkgrey;border:solid 3px">
      <h1 style="background-color:darkgreen;border:solid 3px">Welcome to Pooja's application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" style="background-color:darkseagreen;border:solid 1px"/> <br />
       description: <input name="description" type="text" style="background-color:darkseagreen;border:solid 1px" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>